# Web server
flask

# Scraper
selenium==4.10.0
selenium-stealth

# Data processing
pandas
bs4

# Image processing
Pillow
rembg==2.0.54           # Versi stabil, support CLI & Python API
onnxruntime==1.16.3      # Cocok dengan rembg, versi stabil

# PDF (jika digunakan)
reportlab
numpy<2  # ⛑️ Fix onnxruntime & rembg crash di NumPy 2.x
